@import "./frontend/util/_variables.scss";

.loc-graph {
  .loc-svg {
    width: 75%;
    margin: 0 auto;

    text {
      pointer-events: none;
      font-size: 15px;
    }

    .loc-svg-city-node {
      width: 15px;
      height: 15px;
      fill: $lightgrey;
      rx: 3px;
      ry: 3px;
    }

    .loc-svg-continent-node {
      width: 5px;
      height: 5px;
      fill: $lightgrey;
      rx: 3px;
      ry: 3px;
    }

    .loc-svg-link {
      stroke: #cccccc;
      stroke-opacity: .6;
      stroke-width: 1px;

      &.invisible {
        stroke: transparent;
      }
    }
  }
}