@import "./frontend/util/_variables.scss";

.navbar-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 60px;

  .navbar-right {
    display: flex;
    background-color: $tan;
    color: $white;
    border-radius: 0 0 0 10px;
    padding: 0 0 10px 10px;
  }
}

// transfer and manage modal buttons
.modal-button-cont:last-child {
  margin-right: 20px;
}

.modal-button,
.modal-button-modal-open {
  cursor: pointer;
  text-transform: uppercase;
  background-color: $white;
  height: 45px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $tan;
  border-radius: 0 0 15px 15px;
  padding: 8px;
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $lightblue;
    transform: scale(1, 1.1);
  }
  &:active {
    background-color: $darkblue;
  }
}

.modal-button-modal-open {
  position: relative;
  z-index: 50;
  color: $green;
}

.modal-container {
  &:focus {
    outline: none;
  }
}

// Session form
.session-button-cont {
  display: flex;
}

.session-button {
  background-color: transparent;
  color: inherit;
  padding: 10px 18px;
  text-transform: lowercase;
  &:active {
    color: $lightblue;
  }
  &:focus {
    outline: none;
  }
}

// // // Larger than 768px
// // @media only screen and (min-width: 768px) {
// //   .navbar-right {
// //     float: right!important;
// //     margin-right: 0;
// //   }
// // }
// //
// // // Larger than 850px
// // @media only screen and (min-width: 850px) {
// //   .navbar-container {
// //     padding-bottom: 100px;
// //   }
// // }
// // // Smaller than 600px
// // @media only screen and (max-width: 600px) {
// //   .navbar-container {
// //     .navbar-left {
// //       .genus-dev-dash {
// //         font-size: $font-sm;
// //       }
// //     }
// //   }
// // }
//
// .dropdown-menu {
//   background: teal;
// }
//
//

.login-prompt {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.login-text {
  margin-left: auto;
  margin-right: auto;
}

.metaMask-Button {
  margin-left: 10px;
  padding: 10px;
  margin: 10px;
  background-color: teal;
  text-decoration: none;
  // width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.metaMask-Button:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.metaMask-Button:visited {
  color: white;
  text-decoration: none;
}

// stop bootstrap media queries
@media (min-width: 768px) {
  .navbar-right {
    float: none !important;
    margin-right: 0 !important;
  }
}
