// @import "../../util/variables";
// $cornerSize: 5px;
// .text-input-container {
//   display: flex;
//   align-items: center;
//   background-color: $white;
//   border-radius: 5px;
//   margin-bottom: 8px;

//   &:before {
//     content: "";
//     border-right: 2px solid $db-fade3;
//     color: $db-fade3
//   }
// }

// .text-input {
//   width: 100%;
//   padding: 2px 3px;
//   color: $black;
//   &::-webkit-input-placeholder {
//     color: $db-fade3;
//   }
// }

// .file-input-container {
//   display: flex;
// }

// .file-input {
//   overflow: hidden;
//   position: relative;
//   width: 20px;
//   height: 20px;

//   input {
//     filter: alpha(opacity=1);
//     -moz-opacity: 0.01;
//     opacity: 0.01;
//     position: absolute;
//     right: 0;
//     top: 0;
//   }

// // for now

//   svg {
//     width: 100%;
//     fill: #fff;
//   }
// }

// .valuation-container {
//   display: flex;
//   flex-direction: row;
//   .valuation-input {
//     background-color: $white;
//     border-radius: 5px;
//     padding: 2px 3px 2px 8px;
//     color: $black;
//     &::-webkit-input-placeholder {
//       color: $db-fade3;
//     }
//   }
//   div {
//     margin-left: 11px;
//   }
//   .coin-count {
//     color: $lightgrey;
//     border: 1px solid $lightgrey;
//     padding: 2px;
//     align-self: center;
//   }
//   .coin-text {
//     color: $lightgrey;
//     align-self: center;
//   }
// }

// .project-divider {
//   width: 100%;
//   border-color: $lb-fade1;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

// .form-box {
//   height: 100%;
//   justify-content: space-between;
//   .project-title-input-container {
//     width: 80%;
//     &:before {
//       width: 25px;
//       height: 14px;
//     }
//   }
//   .lat-input-container,
//   .long-input-container {
//     font-size: 10px;
//     width: 55px;
//     &:before {
//       width: 20px;
//       height: 14px;
//     }
//   }
//   .current-quarter-input-container {

//     &:before {
//       content: none;
//     }
//   }
//   .flexed {
//     width: 90%;
//     justify-content: space-between;
//     input[type=file]{
//       width: 100%;
//     }
//   }
//   .description-area{
//     width: 90%;
//     max-width: 95%;
//     height: 120px;
//     max-height: 200px;
//   }
//   input[type=submit]{
//     background: white;
//     color: grey;
//     width: 120px;
//     height: 30px;
//     font-size: 20px;
//   }
// }

// .cornered-container {
//   width:78px;
//   .cornered-div {
//     position: relative;
//     .top-corner-div{
//       position: absolute;
//       display: flex;
//       top: 0px;
//       .top-corner{
//         display: inline-block;
//         border-top: solid 1px white;
//         border-left: solid 1px white;
//         height: $cornerSize;
//         width: $cornerSize;
//       }
//     }
//     .bottom-corner-div{
//       position: absolute;
//       display: flex;
//       bottom: 0px;

//       .bottom-corner{
//         display: inline-block;
//         border-bottom: solid 1px white;
//         border-left: solid 1px white;
//         height: $cornerSize;
//         width: $cornerSize;
//       }
//     }
//     .right{
//       text-align: right;
//       right: 0px;
//       .top-corner{
//         border-right: solid 1px white;
//         border-left: none;
//       }
//       .bottom-corner{
//         border-right: solid 1px white;
//         border-left: none;
//       }
//     }
//   }

//   .text {
//     justify-content: center;
//     display: flex;
//     color: white;
//     text-decoration: none;

//     &:hover {
//       cursor: pointer;
//       background-color: white;
//       color: black;
//     }
//   }
// }

// // .geo-container {
// //   display: grid;
// //   grid-row-gap: 1px;
// //   .geo-row-container {
// //     display: grid;
// //     grid-template-columns: 2fr 1fr 1fr;
// //     justify-items: center;
// //     align-items: center;
// //     grid-column-gap: 15px;
// //     .heir-input {
// //       color: $db-fade3;
// //     }
// //     .opacity-input {
// //       background-color: $white;
// //       color: $db-fade3;
// //       border-radius: 5px;
// //       padding-left: 5px;
// //       text-align: right;
// //       &::-webkit-input-placeholder {
// //         color: $db-fade3;
// //       }
// //     }
// //     h5 {
// //       margin: 0;
// //       margin-bottom: 5px;
// //     }
// //   }
// // }

// .fin-plan-container {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-row-gap: 5px;
//   grid-column-gap: 30px;
//   margin-bottom: 5px;
//   h5 {
//     margin: 0;
//   }
// }

// .file-container {
//   justify-self: stretch;
//   .file-input {
//     width: 0.1px;
//     height: 0.1px;
//     opacity: 0;
//     overflow: hidden;
//     position: absolute;
//     z-index: -1;
//     &:focus + label {
//       outline: 1px dotted #000;
//       outline: -webkit-focus-ring-color auto 5px;
//     }
//   }
//   label {
//     margin: 0;
//     display: inline-block;
//     width: 100%;
//     border-radius: 5px;
//     text-align: center;
//     color: $db-fade3;
//     white-space: nowrap;
//     background-color: $white;
//     &:hover {
//       background-color: $db-fade;
//       color: white;
//       cursor: pointer;
//     }
//   }
// }

// .link-upload-cont {
//   display: flex;
//   margin-top: 5px;
//   .link-input {
//     background-color: $white;
//     border-radius: 5px;
//     color: rgb(155, 146, 135);
//     width: 100%;
//     padding: 2px 3px 2px 8px;
//     &::-webkit-input-placeholder {
//       color: $db-fade3;
//     }
//   }
// }

// .p-form-label {
//   font-weight: 100;
//   .p-form-description {
//     color: black;
//     border: none;
//     border-radius: 10px;
//     padding: 5px;
//     margin-top: 5px;
//     width: 100%;
//     height: 100px;
//     resize: none;
//     &:focus {
//       outline: none;
//     }
//   }
// }

// .pitch-button-cont {
//   display: flex;
//   justify-content: center;
//   .pitch-button {
//     background-color: $db-fade;
//     color: $white;
//     padding: 4px;
//     text-align: center;
//     width: 40%;
//     letter-spacing: 0.5px;
//     margin-top: 10px;
//     transition: all 0.5s ease-in-out;
//     &:hover {
//       transform: translateY(-1px);
//       background-color: $darkblue;
//     }
//   }
// }

// .project-errors {
//   margin-top: 10px;
//   text-align: center;
//   background-color: $lightblue;
//   color: $error-color;
// }

// .rates-box div {
//   margin-bottom: 6px;
// }

// .rates-box{
//   width: 90%;
//   padding: 5px;
//   .coins{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   .amount-box{
//     width: 25px;
//     height: 25px;
//     background: white;
//     color: grey;
//     text-align: center;
//   }

//   .discounts-box{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }

//   .cap-row{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   .style2 {
//     background: none;
//     border: 1px solid #939DA6;
//     width: 50px;
//     height: 25px;
//     min-width: 30px;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .inputfile {
// 	opacity: 0;
// 	position: absolute;
// }

// .inputfile + label {
//     font-weight: 700;
//     color: white;
//     background-color: white;
//     color: gray;
//     width: 114px;
//     display: flex;
//     height: 20px;
//     // justify-content: center;
//     align-items: center;
// }

// .inputfile:focus + label,
// .inputfile + label:hover {
//     // background-color: red;
// }
