@import "../../../../../util/variables";

.user_profile_modal {
  position: fixed;
  top: 19%;
  left: 71%;
  right: 0px;
  bottom: 0px;
  background-color: rgba(56, 71, 120, 0.4);
  outline: none;
  width: 345.5px;
  height: 175.5px;

  .profile_items {
    display: flex;
    flex-direction: column;
    color: white;
    .profile_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $white;
      div {
        padding: 11px;
      }
      .profile_item_type {
        font-weight: bold;
      }
    }
  }
}
