@import "./frontend/util/variables";
.user_profile {
  cursor: pointer;
  .demo_user {
    transition: all ease-in-out 0.5s;
  }
  img {
    transition: all ease-in-out 0.3s;
    border-radius: 70%;
  }
  &:hover {
    .demo_user {
      color: $light-gray;
    }
    img {
      border-radius: 50%;
      box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    }
  }
}
.profile_items {
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}
.user_profile_modal {
  position: fixed;
  top: 0%;
  left: 64.3%;
  right: 0px;
  background-color: rgba(56, 71, 120, 0.4);
  outline: none;
  width: 345.5px;

  .profile_items {
    display: flex;
    flex-direction: column;
    color: white;
    .profile_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid $white;
      padding: 10px;
      .profile_item_right {
        display: flex;
        flex-direction: row;
      }
      .profile_item_button {
        color: #d8fffe;
        padding: 0 5px 0 5px;
        margin: 0 0 0 5px;
        &:hover {
          cursor: pointer;
          color: $white;
        }
      }
      .profile_item_type {
        font-weight: bold;
      }

      .text-input {
        text-align: right;
        color: white;
      }
    }
  }
}
