
// colors that were colormetered from designs

:export colors = {
  $darkblue: rgb(56, 71, 120);
  $db-fade: rgba(56, 71, 120, 0.9);
  $db-fade2: rgba(56, 71, 120, 0.7);
  $db-fade3: rgba(56, 71, 120, 0.4);
  $db-mock-fade: rgb(169, 177, 196);
  $lightblue: rgb(179, 185, 207);
  $lb-fade1: rgba(179, 185, 207,0.8);
  $lb-fade2: rgba(179, 185, 207,0.4);
  $tan: rgb(155, 146, 135);
  $lightblack: rgb(26, 25, 25); // footer modal header
  $black: rgb(0, 0, 0);
  $white: rgb(255, 255, 255);
  $lightgrey: rgb(169, 169, 169);
  $grey: rgb(112, 112, 112);
  $blackgrey: rgb(61, 53, 53);
  $light-tan: rgb(246, 232, 222); // text for footer modal buttons

  // colors from the design
  $light-midnight-blue: #073444;
  $midnight-blue: #061E24;
  $pink-rosy-brown: #D3BE87;
  $rosy-brown: #AB7A5E;
  $steel-blue: #6D7BB4;
  $dark-slate-gray: #32384F;
  $light-gray: #DED8CF;
  $gray: #8C898B;
  $dim-gray: #736566;
  $dark-gray: #A59A91;

  // font sizes
  $font-sm: 11.5px;
  $font-md: 18.5px;
  $font-lg: 30px;

  // errors
  $error-color: red;

  // Genus Logo
  $logo1: rgb(194, 199, 214);
  $logo2: rgb(56, 71, 120);
}
