@import "./frontend/util/_variables.scss";


.navbar-left {
  width: 30%;
  font-size: $font-md;
  display: flex;
  margin-left: 10px;
  .gen-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    align-self: center;
  }
  .genus-dev-dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.25px;
    .gen-dev {
      color: $lightgrey;
    }
    .gen-dash {
      color: $teal;
    }
  }
  .DevLogo {
    display: flex;
  }
  .dev-info-container {
    width: 10%;
    position: absolute;
    left: 0;
    top: 85px;
    z-index: 10;
    margin-top: 5px;
    .dev-dropdown-button{
      margin: -3;
    }
    .devinfo-up {
      font-size: 12px ;
      text-align: center;
      background-color: $lightgrey;
      // padding: 10px 0 10px 0;
      color: $white;
      border-radius: 0 10px 10px 0;
      // height: 30px;
    }
    .devinfo-dropdown {
      font-size: 12px ;
      background-color: $grey;
      position: initial;
      top: 85px;
      left: 0%;
      right: 5%;
      bottom: 5%;
      height: 100px;
      width: 100%;
      border-radius: 0 10px 10px 0;
      padding     : 10px;
      z-Index      : 101;
      color       : white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .dev-info-list{
        text-align: right;
        .filler{
          color: $grey;
        }
        .button-text{
          outline-color: white;
        }
      }
    }
  }
}


.ReactModal__Overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color : rgba(255, 255, 255, 0.75);

  .devinfo-selection-modal-container {
    background-color : black;
    position    : fixed;
    top: 5%;
    left: 12%;
    right: 5%;
    bottom: 5%;
    height: 80%;
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    padding     : 10px;
    z-Index      : 101;
    color       : white;
  }
}





















// sidebar css
  //
  //
  // .button-text {
  //   cursor: pointer;
  //   text-align: center;
  //   background-color: $tan;
  //   padding: 10px 0 10px 0;
  //   color: $white;
  //   border-radius: 0 10px 10px 0;
  //
  //   &.selected {
  //     background-color: black;
  //   }
  // }
  //
  // .dev-info-list {
  //   position: absolute;
  //   top: 40px;
  //   left: 0;
  //   height: 0;
  //   width: 100%;
  //   margin: 0;
  //   transition: height .4s;
  //   border-radius: 0 0 10px 0;
  //
  //   li {
  //     position: absolute;
  //     width: 100%;
  //     z-index: -1;
  //     top: -40px;
  //     left: 0;
  //     transition-duration: .4s;
  //   }
  // }
  //
  // &.active-dropdown {
  //   .dev-dropdown-button {
  //     background-color: $tanTransparent;
  //     border-radius: 0 10px 0 0;
  //   }
  //
  //   .dev-info-list {
  //     background-color: $tanTransparent;
  //     height: 150px;
  //
  //     .strategy {
  //       transform: translateY(60px);
  //       z-index: 15;
  //     }
  //
  //     .bylaws {
  //       transform: translateY(105px);
  //       z-index: 15;
  //     }
  //
  //     .about {
  //       transform: translateY(150px);
  //       z-index: 15;
  //     }
  //   }
  // }
