@import "./frontend/util/_variables.scss";


.InfoModal {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  .modal-header {
    color: $teal;
    font-weight: bold;
    text-transform: uppercase;
    // position: absolute;
    background-color: black;
    top: -10px;
    padding: 2px 10px;
    width: 35%;
    text-align: center;
    border-radius: 10px;
  }
  .diagram {
      height:400px;
  }
  .doomsday-container{
    height: 400px;
  }
  .info-section{
    margin: 0 15% 0 15%;
    .section-header{
    }
    .section-text{
      opacity: .7;
    }
  }
}






.strategy-modal {
  .modal-layer {
    height: 100%;
    overflow-y: scroll;
  }

  .strategy-video-container {
    width: 400px;
    height: 300px;
    margin: 20px auto;

    .strategy-video {
      width: 100%;
      height: 100%;
      border: 5px solid white;
    }
  }

  .strategy-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px 25px;

    .ft-el-header {
      margin: 0 20% 0 0;
      font-size: 25px;
    }

    .ft-el-text {
      margin: 0 20% 0 0;
    }
  }
}
