@import "./frontend/util/_variables.scss";

.vote-shift-tool-container {
  position: absolute;
  left: 20px;

  .vote-bar,
  .vote-bar-loading {
    box-sizing: content-box;
    border: 1px solid $tan;
    background-color: $tan;
    margin: 40px 20px 80px 20px;
    position: relative;
    z-index: 20;

    .vote-bar-inner-container {
      display: flex;
      justify-content: space-between;

      .vote-bar-applied {
        background-color: $teal;
      }

      .vote-bar-shift-line {
        cursor: ew-resize;
        background-color: $rosy-brown;
        position: absolute;
        top: -10px;

        .vote-bar-applied-votes-number {
          position: absolute;
          left: -45px;
          top: 40px;
          width: 50px;
        }

        .vote-bar-freedup-votes-number {
          position: absolute;
          right: -55px;
          top: 40px;
          width: 50px;
        }

        .vote-bar-add-vote-button {
          cursor: pointer;
          position: absolute;
          top: -20px;
          left: 11px;
          font-size: 20px;
        }

        .vote-bar-minus-vote-button {
          cursor: pointer;
          position: absolute;
          top: -20px;
          right: 12px;
          font-size: 20px;
        }
      }

      .vote-bar-freedup {
        background-color: #fff;
      }
    }
  }

  .vote-bar-loading {
    background-color: #fff;

    .vote-bar-inner-container {
      .vote-bar-applied {
        background-color: #fff;
        border: 1px solid $teal;
      }

      .vote-bar-freedup {
        border: 1px solid $rosy-brown;
      }
    }
  }

  .vote-shift-tool-log-button {
    position: absolute;
    right: -5px;
    height: 27px;
    top: 40px;
    z-index: 10;
    color: $tan;
    background-color: #fff;
    border: 1px solid $light-gray;
    border-radius: 0 8px 8px 0;

    &:hover {
      background-color: $darkblue;
      color: #fff;
      border-color: $darkblue;
    }
  }
}
