@import "../../../../variables";

.vote-shift-tool-container {
  position: absolute;
  left: 20px;

  .vote-bar,
  .vote-bar-loading {
    box-sizing: border-box;
    background-color: #aa7a60;
    margin: 40px 20px 80px 20px;
    position: relative;
    z-index: 20;

    .vote-bar-inner-container {
      display: flex;
      justify-content: space-between;
      padding: 5px;

      .vote-bar-applied {
        box-sizing: border-box;
        background-color: #61aba9;
      }

      .vote-bar-shift-line {
        background-color: #9a9288;
        position: absolute;
        top: -10px;

        .vote-bar-applied-votes-number {
          position: absolute;
          left: -45px;
          top: 40px;
          width: 50px;
        }
        
        .vote-bar-freedup-votes-number {
          position: absolute;
          right: -55px;
          top: 40px;
          width: 50px;
        }
      }

      .vote-bar-freedup {
        box-sizing: border-box;
        background-color: #fff;
      }
    }

  }
  
  .vote-bar-loading {
    background-color: #fff;
    border: 1px solid #aa7a60;

    .vote-bar-inner-container {
      padding: 4px;
      
      .vote-bar-applied {
        background-color: #fff;
        border: 1px solid #61aba9;
      }
  
      .vote-bar-freedup {
        border: 1px solid #aa7a60;
      }
    }
  }
  
  .vote-shift-tool-log-button {
    position: absolute;
    right: -5px;
    height: 25px;
    top: 40px;
    z-index: 10;
    color: #a29b92;
    background-color: #fff;
    border: 1px solid #f2f1f0;
    border-radius: 0 8px 8px 0;

    &:hover {
      background-color: #375c5a;
      color: #fff;
      border-color: #375c5a;
    }
  }
}
