@import "./frontend/util/_variables.scss";

.votes-graph {
  position: relative;
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;
  text-align: center;
  .voteBreakDownButtonOpen {
    background: $tan;
    border-radius: 15px;
    color: white;
    margin: 25px;
  }
  .voteBreakDownButtonClose {
    background: $tan;
    border-radius: 15px;
    color: white;
    opacity: 0.3;
    margin: 25px;
  }

  &.invisible {
    visibility: hidden;
    opacity: 0;
  }

  .votes-view {
    top: 0;
    position: absolute;
    width: 100%;
  }

  .votes-view-svg {
    width: 100%;
  }

  .ProjectCrossLine {
    stroke: rgb(189, 196, 201);
    stroke-width: 5px;
  }

  .CapitalRaisedPath {
    fill: none;
    stroke: $teal;
    stroke-width: 4px;
  }

  .questionIcon {
    fill: $teal;
  }

  text {
    text-anchor: middle;
    pointer-events: none;
  }

  // .capital-raised-line {
  //   fill: blue;
  //   width: 100px;
  // }

  .votes-view-vote-breakdown-text {
    fill: #fff;
    font-size: 12px;
  }

  .votes-view-circle-text-hovers {
    fill: rgb(189, 196, 201);
  }

  .votes-view-capital-raised-text {
    fill: #fff;
  }
  .votes-view-capital-raised-text-right {
    fill: #fff;
  }

  .votes-view-percentage-breakdown {
    fill: #fff;
    font-size: 12px;
  }

  .votes-view-onhover-text-group {
    text {
      font-size: 12px;
    }
    .votes-view-project-title {
      font-size: 12px;
      fill: white;
    }
  }

  .votes-view-onhover-project-outlines-group {
    rect {
      fill: #fff;
      pointer-events: none;
    }
  }

  .votes-view-project-circle {
    transition: r 0.5s;
    cursor: pointer;

    &:hover {
      r: 12px;
    }
  }
}
