@import "./frontend/util/_variables.scss";

.time-axis {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;

  .time-axis-svg {
    width: 50%;
    margin: 0 auto;

    .time-axis-g {
      // remove line
      font-size: 14px;
      .domain {
        stroke: none;
      }
      // remove ticks
      .tick {
        line {
          stroke: none;
        }
        text {
          fill: $dim-gray;
        }
      }
    }
  }
}
