@import "./frontend/util/_variables.scss";

.deposit_form {
  display: flex;
  justify-content: center;
  margin: 15px;
  .desposit-button {
    padding: 10px;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: $teal;

    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $teal;
      border: 1px solid $teal;
    }
  }
}
