@import "./frontend/util/_variables.scss";

.strategy-modal {
  .modal-layer {
    height: 100%;
    overflow-y: scroll;
  }
  
  .strategy-video-container {
    width: 400px;
    height: 300px;
    margin: 20px auto;
  
    .strategy-video {
      width: 100%;
      height: 100%;
      border: 5px solid white;
    }
  }
  
  .strategy-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 10px 25px;
  
    .ft-el-header {
      margin: 0 20% 0 0;
      font-size: 25px;
    }
  
    .ft-el-text {
      margin: 0 20% 0 0;
    }
  }
}