@import "./frontend/util/_variables.scss";

.bylaw-modal {
  .modal-layer {
    height: 100%;
    overflow-y: scroll;
  }

  .strategy-info {
    display: flex;
    align-items: start;
    margin: 10px 25px;

    .ft-el-header {
      margin: 0 20% 0 0;
      font-size: 25px;
    }

    .ft-el-text {
      margin: 0 20% 0 0;
    }
  }
}


