@import "./frontend/util/_variables.scss";

.token-graph {
  text-align: center;
}

.token-svg {
  width: 75%;
  height: 75%;
  overflow: visible !important;

  .token-graph-token-path {
    &.total-tokens path {
      stroke: black;
      stroke-width: 1px;
      fill: none;
    }

    &.active-tokens path {
      stroke: $rosy-brown;
      stroke-width: 3px;
      fill: none;
    }
  }
  // x axis
  .token-graph-x-axis {
    // remove line
    .domain {
      stroke: none;
    }
    // remove ticks
    .tick {
      line {
        stroke: none;
      }
      text {
        fill: $dim-gray;
      }
    }
  }
}

.token-graph-overlay {
  .token-graph-overlay-rect {
    fill: none;
    pointer-events: all;
  }

  .token-graph-dashed-lines {
    line {
      stroke-dasharray: 8 8;
    }

    .total-tokens-line {
      stroke: $tan;
    }

    .active-tokens-line {
      stroke: $rosy-brown;
    }
  }
}

// share price line

.focus {
  .circle-earnings {
    fill: $black;
    z-index: 999;
  }
  .x {
    stroke: $tan;
    stroke-dasharray: 8 8;
  }
  .price {
    fill: $tan;
  }
  .earnings {
    fill: $black;
  }
}

.focus2 {
  .x {
    stroke: $darkblue;
  }
  .y {
    stroke: $db-fade3;
    // stroke-width: 25px;
  }
  .balance {
    // stroke: $darkblue;
    fill: $darkblue;
  }
  .tokens {
    fill: $darkblue;
  }
}

