@import "./frontend/util/_variables.scss";

.token-graph-placeholder {
  margin: auto;
  width: 103px;
}

.token-graph {
  transition: opacity 0.3s;
  visibility: visible;
  opacity: 1;

  &.invisible {
    visibility: hidden;
    opacity: 0;
  }

  .token-svg {
    width: 50%;
    margin: 0 auto;

    .token-graph-token-path {
      &.total-tokens path {
        stroke: black;
        stroke-width: 1px;
        fill: none;
        transition: all 0.5s;
      }

      &.active-tokens path {
        stroke: $rosy-brown;
        stroke-width: 3px;
        fill: none;
        transition: all 0.5s;
      }
    }
    // x axis
    .token-graph-x-axis {
      // remove line
      .domain {
        stroke: none;
      }
      // remove ticks
      .tick {
        line {
          stroke: none;
        }
        text {
          fill: $dim-gray;
        }
      }
    }

    .token-graph-side-bars {
      rect {
        rx: 20;
        ry: 20;
      }

      .token-graph-background-rect {
        fill: transparent;
        stroke: black;
        stroke-width: 0.5px;
        stroke-dasharray: 5, 5;
      }

      .token-graph-total-tokens-rect {
        fill: $rosy-brown;
        opacity: 0.5;
      }

      .token-graph-active-tokens-rect {
        fill: $rosy-brown;
      }

      .token-graph-earnings-rect {
        fill: $teal;
      }
    }

    .earnings-rect {
      position: absolute;
      right: -1.5%;
    }
  }

  .token-graph-overlay {
    .token-graph-overlay-rect {
      fill: none;
      pointer-events: all;
    }

    .token-graph-dashed-lines {
      line {
        pointer-events: none;
      }

      .total-tokens-line {
        stroke: $tan;
        stroke-dasharray: 8 8;
      }

      .vertical-time-line {
        stroke: black;
      }

      .active-tokens-line {
        stroke: $rosy-brown;
        stroke-dasharray: 8 8;
      }

      .earnings-line {
        stroke: $teal;
        stroke-dasharray: 8 8;
      }
    }
  }
}
