@import "./frontend/util/_variables.scss";

.black-close-modal-button {
  background-color: $black;
  top: -10px;
  left: -10px;
}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

.modal-background [class*="modal-child"] {
  position: fixed;
  top: 5%;
  left: 10%;
  right: 5%;
  bottom: 5%;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  z-index: 101;
  color: white;
}

.strategy-modal .close-modal-button,
.bylaw-modal .close-modal-button {
  background-color: black;
  top: -10px;
  left: -10px;
}

.overlay{
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  backgroundColor : rgba(255, 255, 255, 0.75);
  z-index          : 10;
}


.project-modal{
    position: fixed;
    top: 5%;
    left : 10%;
    right : 5%;
    bottom: 5%;
    height : 80%;
    width : 80%;
    border-radius: 10px;
    padding: 0px;
    z-index : 101;
    color           : white;
}
