@import "./frontend/util/_variables.scss";

.dashboard-token,
 .dashboard-project {
  display: flex;
  flex-direction: column;
}

.dashboard-token{

}

.dashboard-project {

  .graph-container {
  }
  transition: min-height cubic-bezier(0, 0, 0.18, 0.75) 0.5s;
}
