@import "./frontend/util/_variables.scss";

.dashboard-token,
.dashboard-project {
  display: flex;
}

.dashboard-token {
  flex-direction: column;
}

.dashboard-project {
  flex-direction: column-reverse;
  .graph-container {
  }
  transition: min-height cubic-bezier(0, 0, 0.18, 0.75) 0.5s;
}
