@import "./frontend/util/_variables.scss";

.toggle-view-options-container,
.toggle-view-options-container-graph-hidden {
  text-align: center;
  .toggle-view-options {
    position: relative;
    display: inline-flex;
    background-color: $tan;
    padding: 8px 8px 20px 8px;
    color: white;
    border-radius: 15px 15px 0 0;
  
    .toggle-option {
      display: flex;
      flex-direction: column;
      align-items: center;

      .toggle-icon {
        fill: white;
        width: 30px;
        #active {
          transform: rotate(90deg);
        }
  
        svg {
          display: block;
        }
      }
      
      .toggle-button {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin-bottom: 8px;
        border-radius: 25px;
        background-color: white;

        &:hover {
          background-color: $teal;
        }
      }
      
      #selected-button {
        background-color: $grey;
      }
    }

    .toggle-view-title {
      position: absolute;
      font-weight: 700;
      font-size: 15px;
      top: 50%;
      right: calc(100% + 20px);
      transform: translateY(-50%);
      color: black;
      white-space: nowrap;
    }

    .toggle-view-current-view {
      position: absolute;
      font-weight: 700;
      font-size: 15px;
      top: 50%;
      left: calc(100% + 20px);
      transform: translateY(-50%);
      color: black;
      white-space: nowrap;
    }
  }
}

.toggle-view-options-container-graph-hidden {
  // text-align: center;

  .toggle-view-options {
    border-radius: 15px;
    padding: 8px 8px 12px 8px;
    
    .toggle-view-title,
    .toggle-view-next-view,
    .toggle-view-dashboard-instruction {
      font-size: 15px;
      color: black;
      position: absolute;
      font-weight: 700;
      top: 100%;
      right: 50%;
      transform: translateX(50%);
      white-space: nowrap;
    }

    .toggle-view-title {
      padding-top: 10px;
    }

    .toggle-view-next-view {
      top: calc(100% + 40px);
      font-size: 12px;
      color: $teal;
    }

    .toggle-view-dashboard-instruction {
      top: calc(100% + 40px);
      font-size: 12px;
    }
  }
}