$darkblue: rgb(56, 71, 120);
$db-fade: rgba(56, 71, 120, 0.9);
$db-fade2: rgba(56, 71, 120, 0.7);
$db-fade3: rgba(56, 71, 120, 0.4);
$db-mock-fade: rgb(169, 177, 196);
$lightblue: rgb(179, 185, 207);
$lb-fade1: rgba(179, 185, 207,0.8);
$lb-fade2: rgba(179, 185, 207,0.4);
$tan: rgb(155, 146, 135);
$lightblack: rgb(26, 25, 25);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$lightgrey: rgb(169, 169, 169);
$grey: rgb(112, 112, 112);
$blackgrey: rgb(61, 53, 53);
$light-tan:rgb(246, 232, 222); // text for footer modal buttons


// errors
$error-color: red;


// Genus Logo
$logo1: rgb(194, 199, 214);
$logo2: rgb(56, 71, 120);
