@import "./variables";

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .series {
  // border-bottom: 1px solid $color-black1;
}

.box .series.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-gseries: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .series.content {
  flex: 1 1 auto;
}

.box .series.footer {
  flex: 0 1 auto;
}

/* Scroll content and footer */
.scroll {
  overflow: auto;
}
