@import "./variables";

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  height: 100%;
  .series.header {
    flex: 0 1 auto;
  }
  .series.content {
    flex: 1 1 auto;
  }
  .series.footer {
    flex: 0 1 auto;
  }
}
/* Scroll content and footer */
.scroll {
  overflow: auto;
}
