@import "./variables";

.link {
  color: $darkblue;
}

.close-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  font-size: $font-lg;
  &:hover {
    cursor: pointer;
  }
}

.blue-close-modal-button {
  background-color: $db-fade;
  left: -10px;
  bottom: -10px;
}

.black-close-modal-button {
  background-color: $black;
  top: -10px;
  left: -10px;
}

// Graphs
.graph-container {
  width: 100%;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
}
