

.vote-shift-tool,
.vote-shift-tool-loading {
  position: absolute;
  left: 30px;
  top: -80px;
  display: flex;
  z-index: 5; }
  .vote-shift-tool .votes-view-svg,
  .vote-shift-tool-loading .votes-view-svg {
    position: relative;
    z-index: 3; }
  .vote-shift-tool .vote-shift-tool-log-button,
  .vote-shift-tool-loading .vote-shift-tool-log-button {
    position: absolute;
    right: -25px;
    height: 100%;
    z-index: 1;
    color: #a29b92;
    background-color: #fff;
    border: 1px solid #f2f1f0;
    border-radius: 0 8px 8px 0; }
    .vote-shift-tool .vote-shift-tool-log-button:hover,
    .vote-shift-tool-loading .vote-shift-tool-log-button:hover {
      background-color: #375c5a;
      color: #fff;
      border-color: #375c5a; }
  .vote-shift-tool .vote-bar,
  .vote-shift-tool-loading .vote-bar {
    height: 100%;
    width: 100%; }

.vote-shift-tool .vote-bar {
  fill: #aa7a60; }

.vote-shift-tool .vote-bar-applied {
  fill: #61aba9; }

.vote-shift-tool .vote-bar-freedup {
  fill: #fff; }

.vote-shift-tool-loading .vote-bar {
  fill: #fff;
  stroke: #aa7a60;
  stroke-width: 2; }

.vote-shift-tool-loading .vote-bar-applied {
  fill: #fff;
  stroke: #9a9288;
  stroke-width: 2; }

.vote-shift-tool-loading .vote-bar-freedup {
  fill: #fff;
  stroke: #aa7a60;
  stroke-width: 2; }

.votes-graph {
  position: relative; }
  .votes-graph .votes-view {
    top: 0;
    position: absolute;
    width: 100%; }
  .votes-graph .votes-view-svg {
    overflow: visible !important;
    width: 100%; }
  .votes-graph line {
    stroke: #fff;
    stroke-width: 2px; }
  .votes-graph path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px; }
  .votes-graph text {
    text-anchor: middle;
    pointer-events: none; }
  .votes-graph .votes-view-capital-raised-text {
    fill: #fff; }
  .votes-graph .votes-view-capital-raised-text-right {
    fill: #fff; }
  .votes-graph .votes-view-percentage-breakdown {
    fill: #fff;
    font-size: 18px; }
  .votes-graph .votes-view-project-title {
    font-size: 18px; }
  .votes-graph .votes-view-onhover-project-outlines-group rect {
    fill: #fff;
    pointer-events: none; }

