.vote-shift-tool-container {
  position: absolute; }
  .vote-shift-tool-container .vote-bar {
    background-color: #aa7a60;
    margin: 40px 20px 80px 20px;
    position: relative;
    z-index: 20; }
    .vote-shift-tool-container .vote-bar .vote-bar-inner-container {
      display: flex;
      justify-content: space-between; }
      .vote-shift-tool-container .vote-bar .vote-bar-inner-container .vote-bar-applied {
        background-color: #61aba9; }
      .vote-shift-tool-container .vote-bar .vote-bar-inner-container .vote-bar-shift-line {
        background-color: #9a9288;
        position: absolute;
        top: -10px; }
        .vote-shift-tool-container .vote-bar .vote-bar-inner-container .vote-bar-shift-line .vote-bar-applied-votes-number {
          position: absolute;
          left: -50px;
          top: 40px;
          width: 50px; }
        .vote-shift-tool-container .vote-bar .vote-bar-inner-container .vote-bar-shift-line .vote-bar-freedup-votes-number {
          position: absolute;
          right: -60px;
          top: 40px;
          width: 50px; }
      .vote-shift-tool-container .vote-bar .vote-bar-inner-container .vote-bar-freedup {
        background-color: #fff; }
  .vote-shift-tool-container .vote-shift-tool-log-button {
    position: absolute;
    right: -5px;
    height: 25px;
    top: 40px;
    z-index: 10;
    color: #a29b92;
    background-color: #fff;
    border: 1px solid #f2f1f0;
    border-radius: 0 8px 8px 0; }
    .vote-shift-tool-container .vote-shift-tool-log-button:hover {
      background-color: #375c5a;
      color: #fff;
      border-color: #375c5a; }

.votes-graph {
  position: relative; }
  .votes-graph .votes-view {
    top: 0;
    position: absolute;
    width: 100%; }
  .votes-graph .votes-view-svg {
    overflow: visible !important;
    width: 100%; }
  .votes-graph line {
    stroke: #fff;
    stroke-width: 2px; }
  .votes-graph path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px; }
  .votes-graph text {
    text-anchor: middle;
    pointer-events: none; }
  .votes-graph .votes-view-capital-raised-text {
    fill: #fff; }
  .votes-graph .votes-view-percentage-breakdown {
    fill: #fff;
    font-size: 18px; }
  .votes-graph .votes-view-project-title {
    font-size: 18px; }
  .votes-graph .votes-view-onhover-project-outlines-group rect {
    fill: #fff;
    pointer-events: none; }

