@import "./frontend/util/_variables.scss";

// bylaws specific
.ft-el-cont {
  display: flex;
  flex-direction: column;
  p {
    margin: 0 280px 10px;
    strong {
      color: $white;
    }
  }

  .ft-el-header {
    font-size: $font-md;
    font-weight: 1000;
  }
  .strategy-info {
    margin-top: 20px;
    width: 55%;
  }
}


.ft-img-cont {
  .ft-img {
    object-fit: contain;
    height: 600px;
    width: 600px;
  }
}


// strategy specific
.strategy-video {
  width: 75%;
  height: 100%;
  border: 5px solid $white;
  margin-top: 20px;
}



// // /* Scrollbar customization */
// ::-webkit-scrollbar {
//     width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     background: $lb-fade1;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//   background: $lb-fade2;
// }

// sidebar css
.dev-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100px;
  border-radius: 0 10px 10px 0px;
  &:hover {
    cursor: pointer;
  }
  &.active-dropdown{
  background-color: $tanTransparent;
  height: 190px;
  }
  & > ul{
    position: relative;
    & li:not(:first-child) {
      position: absolute;
      width:100%;
      z-index: -1;
      top: 0;
      left: 0;
      transition-property: transform;
    }
    & li:first-child div.active-dropdown{
      border: none;
      background-color: transparent;
    }
    & li.active-dropdown.strategy{
      transform: translateY(60px);
      transition-duration: .4s;
      z-index: 1;
    }
    & li div.modal-active{
      z-index: 11;
      background-color: black;
    }
    & li.active-dropdown.bylaws{
      transform: translateY(105px);
      transition-duration: .4s;
      z-index: 1;
    }
    & li.active-dropdown.about{
      transform: translateY(150px);
      transition-duration: .4s;
      z-index: 1;
    }
    & li > div {
      text-align: center;
      background-color: $tan;
      padding: 10px 0 10px 0;
      color: $white;
      border-radius: 0 15px 15px 0;
    }
  }
}
