@import "./frontend/util/_variables.scss";

// sidebar css
.dev-info-container{
  width: 100px;
  position: absolute;
  left: 0;
  top: 85px;
  z-index: 10;
  
  .button-text {
    cursor: pointer;
    text-align: center;
    background-color: $tan;
    padding: 10px 0 10px 0;
    color: $white;
    border-radius: 0 10px 10px 0;

    &.selected {
      background-color: black;
    }
  }
  
  .dev-info-list {
    position: absolute;
    top: 40px;
    left: 0;
    height: 0;
    width: 100%;
    margin: 0;
    transition: height .4s;
    border-radius: 0 0 10px 0;
    
    li {
      position: absolute;
      width: 100%;
      z-index: -1;
      top: -40px;
      left: 0;
      transition-duration: .4s;
    }
  }

  &.active-dropdown {
    .dev-dropdown-button {
      background-color: $tanTransparent;
      border-radius: 0 10px 0 0;
    }
    
    .dev-info-list {
      background-color: $tanTransparent;
      height: 150px;

      .strategy {
        transform: translateY(60px);
        z-index: 15;
      }

      .bylaws {
        transform: translateY(105px);
        z-index: 15;
      }

      .about {
        transform: translateY(150px);
        z-index: 15;
      }
    }
  }
}
