@import "./frontend/util/_variables.scss";

// bylaws specific
.ft-el-cont {
  display: flex;
  flex-direction: column;
  p {
    margin: 0 280px 10px;
    strong {
      color: $white;
    }
  }

  .ft-el-header {
    font-size: $font-md;
    font-weight: 1000;
  }
  .strategy-info {
    margin-top: 20px;
    width: 55%;
  }
}

.ft-img-cont {
  .ft-img {
    object-fit: contain;
    height: 600px;
    width: 600px;
  }
}

// strategy specific

.strategy-video-container {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  .strategy-video {
    width: 100%;
    height: 100%;
    border: 5px solid $white;
  }
}

// sidebar css
.dev-info-container{
  width: 100px;
  position: absolute;
  left: 0;
  top: 85px;
  z-index: 5;
  
  .button-text {
    cursor: pointer;
    text-align: center;
    background-color: $tan;
    padding: 10px 0 10px 0;
    color: $white;
    border-radius: 0 10px 10px 0px;

    &.selected {
      background-color: black;
    }
  }
  
  .dev-info-list {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    margin: 0;
    transition: height .4s;
    border-radius: 0 10px 10px 0px;
    
    li {
      position: absolute;
      width: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      transition-duration: .4s;
    }
  }

  &.active-dropdown {
    .dev-dropdown-button {
      background-color: transparent;
    }
    
    .dev-info-list {
      background-color: $tanTransparent;
      height: 190px;

      .strategy{
        transform: translateY(60px);
        z-index: 1;
      }

      .bylaws{
        transform: translateY(105px);
        z-index: 1;
      }

      .about{
        transform: translateY(150px);
        z-index: 1;
      }
    }
  }
}
