@import "../../util/variables";

.cashflow-upload {
    min-height: 460px;
    height: 80%;

    .actual-quarter-blue {
        color: cyan;
    }

    .expected-quarter-black {
        color: black;
    }
    .cashflow-title-flex{
      display: flex;
      justify-content: space-evenly;
      h3:first-child{
        margin-right: 17px;
      }
      h3:nth-child(2) {
        margin-right: 4.5%;
      }
    }
    .flex-display {
        display: flex;
        justify-content: space-around;
        input {
          margin-left: 5%;
        }
        input[type=checkbox] {
          margin-right: 7%;
        }
    }

    .scrollable {
        overflow: auto;
        min-height: 300px;
        height: 60%;
        scrollbar-color: white inherit;
    }

    .scrollable::-webkit-scrollbar-track {
        background-color: inherit;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background-color: white;
    }
    .cashflow-submit{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 5%;
        input{
            background-color: white;
            color: rgba(0,0,0,0.7);
            display: flex;
        }
    }

    input {
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    li {
        margin-bottom: 5px;
        label{
          margin-left: 13%;
        }
    }

    li:nth-of-type(4n) {
        margin-bottom: 20px;
    }
    p {
      color: rgba(255,255,255, 0.25)
    }


    #cash-graph:only-child {
        height: 50px;
    }
}
