@import "../../util/variables";

.cashflow-upload {
    min-height: 460px;
    height: 80%;

    .actual-quarter-blue {
        color: cyan;
    }

    .expected-quarter-black {
        color: black;
    }

    .flex-display {
        display: flex;
        justify-content: space-around;
    }

    .scrollable {
        overflow: auto;
        min-height: 300px;
        height: 60%;
        scrollbar-color: white inherit;
    }

    .scrollable::-webkit-scrollbar-track {
        background-color: inherit;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background-color: white;
    }

    input {
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }

    li {
        margin-bottom: 5px;
    }

    li:nth-of-type(4n) {
        margin-bottom: 20px;
    }

    input[type="submit"] {
        display: none;
    }

    #cash-graph:only-child {
        height: 50px;
    }
}