@import "../../util/variables";

.geo-container {
  display: grid;
  grid-row-gap: 1px;
  .geo-row-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 15px;
    .heir-input {
      color: $db-fade3;
    }
    .opacity-input {
      background-color: $white;
      color: $db-fade3;
      border-radius: 5px;
      padding-left: 5px;
      text-align: right;
      &::-webkit-input-placeholder {
        color: $db-fade3;
      }
    }
    h5 {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}
