@import "../../util/variables";

.profile-form-box {
  padding: 5px 10px;
  .profile-input {
    width: 160px;
    background-color: $white;
    color: $grey;
    border-radius: 10px;
    padding: 3px 6px 3px 9px;
    margin-top: 7px;
    &:first-child {
      margin-top: 0;
    }
  }
  .submit-button {
    background-color: $db-fade;
    color: $white;
    padding: 3px 10px;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -20px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-1px);
      background-color: $darkblue;
    }
  }
}

.profile-input::-webkit-input-placeholder {
  text-align: center;
}
