@import "../../util/variables";
$cornerSize: 5px;

.text-input-container {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.text-input {
  width: 100%;
  padding: 2px 3px;
  color: $black;

  &::-webkit-input-placeholder {
    color: $db-fade3;
  }
}

.file-input-container {
  display: flex;
}

.file-input {
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;

  input {
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
  }

  svg {
    width: 100%;
  }

  .st0 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .st1 {
    clip-path: url(#SVGID_2_);
    fill: #FFFFFF;
  }
}

.valuation-container {
  display: flex;
  flex-direction: row;
  .valuation-input {
    background-color: $white;
    border-radius: 5px;
    padding: 2px 3px 2px 8px;
    color: $black;
    &::-webkit-input-placeholder {
      color: $db-fade3;
    }
  }
  div {
    margin-left: 11px;
  }
  .coin-count {
    color: $lightgrey;
    border: 1px solid $lightgrey;
    padding: 2px;
    align-self: center;
  }
  .coin-text {
    color: $lightgrey;
    align-self: center;
  }
}

.project-divider {
  width: 100%;
  border-color: $lb-fade1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-box {
  height: 100%;
  justify-content: space-between;

  .project-title-input-container {
    width: 80%;
    background-color: $white;
    margin-bottom: 10px;

    &:before {
      content: "";
      border-right: 2px solid $db-fade3;
      color: $db-fade3;
      width: 25px;
      height: 14px;
    }
  }

  .lat-input-container,
  .long-input-container {
    background-color: $white;
    font-size: 10px;
    width: 55px;

    &:before {
      content: "";
      border-right: 2px solid $db-fade3;
      color: $db-fade3;
      width: 20px;
      height: 14px;
    }

  }

  .cashflows-section {
    align-items: center;
  }

  .current-quarter-input-container {
    margin-top: 10px;

    .current-quarter-input {
      color:black;
      padding-left: 10px;
      margin-right: 10px;
      width: 30px;
      background-color: #fff;
      border-radius: 5px;
    }
  }

  .pdf-section,
  .model-id-section {
    .cornered-container {
      margin-right: 60px;
    }
  }

  .model-id-container {
    background-color: $white;
    font-size: 10px;
    width: 100px;

    &:before {
      content: "";
      border-right: 2px solid $db-fade3;
      color: $db-fade3;
      width: 20px;
      height: 14px;
    }
  }

  .flexed {
    width: 90%;
    justify-content: space-between;

    input[type=file] {
      width: 100%;
    }
  }

  .summary-area{
    width: 90%;
    max-width: 95%;
    height: 120px;
    max-height: 200px;
    color: grey;
  }

  input[type=submit] {
    background: white;
    color: grey;
    width: 120px;
    height: 30px;
    font-size: 20px;
  }

  label {
    margin-bottom: 0;
  }
}

.cornered-container {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover {
    background-color: white;
    .project-form-button-icons {
      fill: black;
    }
  }

  .top-left-corner,
  .top-right-corner,
  .bottom-left-corner,
  .bottom-right-corner {
    position: absolute;
    height: $cornerSize;
    width: $cornerSize;
  }

  .top-left-corner{
    top: 0;
    left: 0;
    border-top: solid 1px white;
    border-left: solid 1px white;
  }

  .top-right-corner{
    top: 0;
    right: 0;
    border-top: solid 1px white;
    border-right: solid 1px white;
  }

  .bottom-left-corner{
    bottom: 0;
    left: 0;
    border-bottom: solid 1px white;
    border-left: solid 1px white;
  }

  .bottom-right-corner{
    bottom: 0;
    right: 0;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
  }

  .project-form-button {
    position: relative;

    &.drop-pin:hover:after {
      content: "drop pin";
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      display: block;
      position: absolute;
      white-space: nowrap;
    }

    &.cashflow:hover:after {
      content: "cashflows";
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      display: block;
      position: absolute;
      white-space: nowrap;
    }

    &.pdf:hover:after {
      content: "plan";
      right: -40px;
      top: 40%;
      transform: translateY(-50%);
      display: block;
      position: absolute;
      white-space: nowrap;
    }

    &.model-id:hover:after {
      content: "poly model";
      right: -70px;
      top: 40%;
      transform: translateY(-50%);
      display: block;
      position: absolute;
      white-space: nowrap;
    }
  }

  .project-form-button-icons {
    fill: white;
    width: 100%;
  }
}



.fin-plan-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 30px;
  margin-bottom: 5px;
  h5 {
    margin: 0;
  }
}

.link-upload-cont {
  display: flex;
  margin-top: 5px;
  .link-input {
    background-color: $white;
    border-radius: 5px;
    color: rgb(155, 146, 135);
    width: 100%;
    padding: 2px 3px 2px 8px;
    &::-webkit-input-placeholder {
      color: $db-fade3;
    }
  }
}

.p-form-label {
  font-weight: 100;
  .p-form-description {
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
}

.pitch-button-cont {
  display: flex;
  justify-content: center;
  .pitch-button {
    background-color: $db-fade;
    color: $white;
    padding: 4px;
    text-align: center;
    width: 40%;
    letter-spacing: 0.5px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-1px);
      background-color: $darkblue;
    }
  }
}

.project-errors {
  margin-top: 10px;
  text-align: center;
  background-color: $lightblue;
  color: $error-color;
}

.rates-box div {
  margin-bottom: 6px;
}

.rates-box{
  width: 90%;
  padding: 5px;
  .coins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amount-box{
    width: 25px;
    height: 25px;
    background: white;
    color: grey;
    text-align: center;
  }

  .discounts-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cap-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .style2 {
    background: none;
    border: 1px solid #939DA6;
    width: 50px;
    height: 25px;
    min-width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.drop-pin-flex {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1.5 0 0;
    height: 100%;
    color: white;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .address-inner {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      justify-content: space-between;
      height: 70%;
      font-size: 20px;
      .city,
      .continent {
        display: flex;
        flex-direction: column;
        flex: 1 0 0;
        align-items: center;
        justify-content: center;

        div:last-child {
          color: rgb(153, 245, 254);
        }
      }
      input {
        display: flex;
        flex: .2 0 0;
        border-radius: 5px;
        width: 50%;
        background: white;
        color: black;
        margin: 0 auto;
      }
    }
    input {
      flex: .2 0 0;
      width: 50%;
      background: white;
      color: black;
      margin: 0 auto;
      margin-bottom: 10%;
    }
  }

  .drop-pin-container {
    flex: 5 0 0;
  }
}
