@import "../../util/variables";

.project-title-input {
  background-color: $white;
  margin-bottom: 10px;
  border-radius: 9px;
  padding: 2px 3px 2px 8px;
  color: $black;
  width: 80%;
}
.valuation-container {
  display: flex;
  flex-direction: row;
  .valuation-input {
    background-color: white;
    border-radius: 9px;
    padding: 2px 3px 2px 8px;
    color: $black;
  }
  div {
    margin-left: 11px;
  }
  .coin-count {
    color: $lightgrey;
    border: 1px solid $lightgrey;
    padding: 2px;
    align-self: center;
  }
  .coin-text {
    color: $lightgrey;
    align-self: center;
  }
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

// .manage-labels-1 {
//   display: flex;
//   justify-content: space-around;
//   p:not(:first-child) {
//     font-size: 11px;
//     align-self: center;
//   }
// }
// .overlay-option {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 5px;
//   .overlay-upload {
//     display: flex;
//     flex-direction: row;
//     p {
//       background-color: white;
//       margin-bottom: 6px;
//       margin-right: 20px;
//       border-radius: 5px;
//       padding: 0px 0px 1px 5px;
//       color: $grey;
//       font-size: 11px;
//       width: 61px;
//     }
//     .folder-icon {
//       width: 16px;
//       height: 16px;
//     }
//   }
//   .manage-num-input {
//     width: 16px;
//     height: 16px;
//     background-color: white;
//     color: black;
//   }
// }


.upload-cont {
  display: flex;
  margin-bottom: 10px;
  .video-input, .icon-input {
    background-color: $white;
    color: rgb(155, 146, 135);
    width: 100%;
    padding: 2px 3px 2px 5px;

  }
  // justify-content: space-around;
  // .white-background {
  //   background-color: white;
  //   margin-top: 4px;
  //   margin-bottom: 5px;
  //   border-radius: 5px;
  //   padding: 0px 0px 1px 5px;
  //   color: $grey;
  //   font-size: 11px;
  //   width: 64px;
  //   height: 15px;
  // }
  // .folder-icon {
  //   width: 16px;
  //   height: 16px;
  //   margin-top: 4px;
  // }
  // .upload-label {
  //   width: 83px;
  // }

}
// .manage-labels-2 {
//   display: flex;
//   margin-top: 5px;
//   p:not(:first-child) {
//     font-size: 11px;
//     align-self: center;
//   }
//   p:first-child {
//     margin-left: 4px;
//     margin-right: 129px;
//   }
//   p:last-child {
//     margin-left: 45px;
//   }
// }
// .icon-div {
//   margin-left: 0;
//   .icon-upload {
//     display: flex;
//     .white-background {
//       margin-right: 20px;
//       margin-left: -4px;
//     }
//     .folder-icon {
//       width: 16px;
//       height: 16px;
//     }
//   }
//   .manage-num-input {
//     background-color: white;
//     width: 16px;
//     height: 16px;
//     color: black;
//     margin-top: 4px;
//   }
// }
.p-form-label {
  margin-top: 5px;
  font-weight: 100;
}
.p-form-description {
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  height: 100px;
  resize: none;
  &:focus {
    outline: none;
  }
}

.pitch-button-cont {
  display: flex;
  justify-content: center;
}

.pitch-button {
  background-color: $white !important;
  color: $darkblue;
  padding: 4px;
  text-align: center;
  width: 40%;
  letter-spacing: 0.5px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-1px);
    background-color: $lightblue !important;
    color: $white;
  }
  &:active {
    background-color: $darkblue !important;
    color: $white;
  }
}

.project-errors {
  margin-top: 10px;
  text-align: center;
  background-color: $lightblue;
  color: $error-color;
}

// .manage-num-input {
//   background-color: white;
//   width: 20px;
//   height: 20px;
//   color: black;
// }

// .project-name-input, .valuation-input, .manage-description {
//   background-color: white;
//   color: black;
// }
