@import "../../util/variables";

.transfer-div {
  display: flex;
  border-top: 1px solid $lb-fade1;
  padding-top: 5px;
  margin-bottom: 20px;
  .transfer-left {
    flex: 1;
    align-self: center;
    text-align: center;
    margin: 0;
    margin-right: 6px;
    font-weight: 1000;
  }
  .transfer-mid {
    flex: 2;
    font-size: $font-sm;
    .cb {
      .cb-option {
        margin: 0;
        height: 11px;
        width: 12px;
      }
      label {
        margin: 0;
        margin-left: 5px;
      }
    }
  }
  .transfer-right {
    flex: 4;
    align-self: flex-end;
    font-size: $font-sm;
    margin-left: 10px;
  }

  .from-dropdown {
    .from-dropdown-list {
      color: $grey;
      width: 90%;
      &:focus {
        outline: none;
      }
    }
  }

  .receiving-wallet-input {
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding-left: 6px;
  }

}

.price-breakdown {
  display: flex;
  flex-direction: row;
  .transfer-input-cont {
    flex: 2;
    .transfer-input {
      background-color: $white;
      border-radius: 9px;
      padding: 3px 0 4px 5px;
      color: $black;
      width: 100%;
    }
  }
  .transfer-input-cont, .transfer-price, .transfer-value {
    align-self: center;
  }
  .transfer-price, .transfer-value {
    color: $grey;
    background-color: rgba(255,255,255,0.5);
    margin-left: 8px;
    border-radius: 9px;
    padding: 3px 0 4px 5px;
  }
  .transfer-price {
    flex: 1;
  }
  .transfer-value {
    flex: 2;
  }
}

.price-breakdown-labels {
  display: flex;
  flex-direction: row;
  color: $lightgrey;
  font-size: $font-sm;
  * {
    display: flex;
    justify-content: center;
    padding-top: 4px;
  }
  .t-filler {
    flex: 2;
  }
  .t-price-label {
    flex: 1;
  }
  .t-value-label {
    flex: 2;
    padding-left: 5px;
  }
}

.t-checkbox-cont {
  display: flex;
  margin-top: 15px;
  .t-checkbox {
    margin: 2px 10px 0 0;
    height: 20px;
    width: 20px;
  }
}

.transfer-button-cont {
  font-weight: bold;
  .transfer-button {
    background-color: $db-fade;
    color: $white;
    margin-top: 15px;
    width: 100%;
    padding: 3px;
    letter-spacing: 0.5px;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-1px);
      background-color: $darkblue;
    }
  }
}
