@import "../../util/variables";


.wallet {
  margin-bottom: 4px;
  width: 200px;
  .wallet-label {
    text-align: center;
    color: $blackgrey;
    padding-bottom: 2px;
    margin: 0px -10px;
  }
  .wallet-id {
    text-align: left;
    background-color: $white;
    color: $grey;
    border-radius: 10px;
    padding: 3px 6px 3px 10px;
    width: 70%;
    margin: 0 auto;
  }
}
.current-wallet {
  .wallet-label {
  }
}
.integrate-wallet {
  .input-container {
    display: flex;
    button {
      position: absolute;
      align-self: center;
      left: 68%;
      .wallet-submit {
        background-color: $db-fade2;
        padding: 5px;
        border-radius: 10px;
        object-fit: contain;
        width: 27px;
        height: 27px;
      }
    }
  }
}
