@import "../util/variables";

.footer-container {
  display: flex;
  justify-content: center;
  .footer-button {
    margin: 0 5px 0 5px;
    background-color: $tan;
    padding: 8px;
    // font-size: $font-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-tan;
    border-radius: 15px 15px 0 0;
    transition: all .2s ease-in-out;

    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
    &:hover {
      cursor: pointer;
      color: $white;
      // border: 1px solid $lightblue;
      // border-bottom: none;

      -webkit-transform : scale(1, 1.2);
      -moz-transform : scale(1, 1.2);
      -o-transform : scale(1, 1.2);
      -ms-transform : scale(1, 1.2);
      transform: scale(1, 1.2);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.bylaws-container, .strategy-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bylaws-header, .strategy-header {
    // font-size: $font-md;
    margin: 0 auto;
    width: 45%;
    height: 40px;
    background-color: $lightblack !important;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: -30px;
  }
  .strategy-header {
    // margin-top: -100px;
    // top: -20px;
  }
}

.bylaws-body {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  #blm-h-1, #blm-h-2, #blm-h-3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  #blm-el-1, #blm-el-2, #blm-el-3, #blm-el-4, #blm-el-5, #blm-el-6 {
    width: 40%;
    height: 40%;
    margin-bottom: 10%;
    font-size: 14px;
  }
  #blm-el-2, #blm-el-4, #blm-el-6 {
    width: 28%;
    height: 50%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
}

.strategy-body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 30px;
  .strategy-video {
    width: 60%;
    // height: 50%;
    border: 2px solid $white;
  }
  .strategy-info {
    width: 45%;
    height: 40%;
    margin-bottom: 10px;
    #sm-h-1 {
      font-weight: bold;
      margin: 30px 0 10px 0;
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}

/* Scrollbar customization */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $lb-fade1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $lb-fade2;
}
