@import "../util/variables";


.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .footer-button {
    margin: 0 5px 0 5px;
    background-color: $tan;
    padding: 8px;
    color: white;
    border-radius: 15px 15px 0 0;
    transition: all .2s ease-in-out;

    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
    &:hover {
      cursor: pointer;
      color: $white;

      -webkit-transform : scale(1, 1.2);
      -moz-transform : scale(1, 1.2);
      -o-transform : scale(1, 1.2);
      -ms-transform : scale(1, 1.2);
      transform: scale(1, 1.2);
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}


// // /* Scrollbar customization */
// ::-webkit-scrollbar {
//     width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 10px;
//     border-radius: 10px;
//     background: $lb-fade1;
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
// }
// ::-webkit-scrollbar-thumb:window-inactive {
//   background: $lb-fade2;
// }
