@import "../util/variables";

.footer-container {
  display: flex;
  justify-content: center;
  .footer-button {
    margin: 0 5px 0 5px;
    background-color: $tan;
    padding: 8px;
    color: $light-tan;
    border-radius: 15px 15px 0 0;
    transition: all .2s ease-in-out;

    -webkit-transform-origin : 50% 100%;
    -moz-transform-origin : 50% 100%;
    -o-transform-origin : 50% 100%;
    -ms-transform-origin : 50% 100%;
    transform-origin : 50% 100%;
    &:hover {
      cursor: pointer;
      color: $white;

      -webkit-transform : scale(1, 1.2);
      -moz-transform : scale(1, 1.2);
      -o-transform : scale(1, 1.2);
      -ms-transform : scale(1, 1.2);
      transform: scale(1, 1.2);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.ft-modal-header-cont {
  display: flex;
  justify-content: center;
}

.ft-modal-header {
  text-transform: uppercase;
  position: absolute;
  background-color: $lightblack;
  top: -10px;
  padding: 2px 10px;
  width: 35%;
  text-align: center;
  border-radius: 10px;
}

.ft-modal-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
}

// bylaws specific
.ft-el-cont {
  display: flex;
  flex-direction: column;
  p {
    strong {
      color: $darkblue;
    }
  }
  // h1, p {
  //   display: inline;
  // }
  .ft-el-header {
    font-size: $font-md;
    font-weight: 1000;
  }
}


.ft-img-cont {
  .ft-img {
    object-fit: contain;
    height: 600px;
    width: 600px;
  }
}


// .ft-el-cont {
//   // display: flex;
//   // flex-direction: column;
//   .ft-el-header {
//     font-size: $font-md;
//     font-weight: 1000;
//   }
//   .ft-el-info {
//     display: flex;
//     .ft-el-text {
//       flex: 1;
//     }
//     .ft-el-img {
//       flex: 1;
//       object-fit: contain;
//       height: 150px;
//       width: 150px;
//     }
//   }
// }

// strategy specific
.strategy-video {
  width: 75%;
  height: 100%;
  border: 5px solid $white;
  margin-top: 20px;
}
.strategy-info {
  margin-top: 20px;
  width: 55%;
}


// /* Scrollbar customization */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: $lb-fade1;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $lb-fade2;
}
