@import "../util/variables";

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .navbar-left {
    font-size: $font-md;
    display: flex;
    margin-left: 10px;
    .gen-logo {
      width: 70px;
      height: 70px;
      object-fit: contain;
      align-self: center;
    }
    .genus-dev-dash {
      display: flex;
      flex-direction: column;
      justify-content: center;
      letter-spacing: 0.25px;
      .gen-dev {
        color: $logo1;
      }
      .gen-dash {
        color: $logo2;
      }
    }
  }
  .navbar-right {
    display: flex;
    background-color: $tan;
    color: $white;
    border-radius: 0 0 0 10px;
  }
}


// transfer and manage modal buttons
.modal-button-cont:last-child {
  margin-right: 20px;
}

.modal-button {
  text-transform: uppercase;
  background-color: $white;
  height: 45px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $tan;
  border-radius: 0 0 15px 15px;
  padding: 8px;
  margin: 0 8px;
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: $lightblue;
    transform: scale(1, 1.1);
  }
  &:active {
    background-color: $darkblue;
  }
}

.modal-container {
  &:focus {
    outline: none;
  }
}

.form-box {
  padding: 5px;
  // font-size: $font-md;
  align-items: center;

}




// Session form
.session-button-cont {
  display: flex;
}

.session-button {
  background-color: transparent;
  color: inherit;
  padding: 10px 18px;
  text-transform: lowercase;
  &:active {
    color: $lightblue;
  }
  &:focus {
    outline: none;
  }
}

.form-box {
  display: flex;
  flex-direction: column;
  .errors {
    color: #C33131;
    margin-bottom: 8px;
  }
  .form-header {
    margin-bottom: 10px;
    text-transform: lowercase;
  }
  .session-input {
    background-color: $white;
    margin-bottom: 8px;
    border-radius: 9px;
    padding: 3px 3px 4px 5px;
    width: 150px;
    color: $black;
  }
  .checkbox-container {
    margin-top: 10px;
    display: flex;
    .checkbox-text {
      margin-left: 10px;
      width: 225px;
      margin-top: -2px;
    }
  }
  .submit-button {
    margin-top: 15px;
    background-color: $db-fade;
    padding: 5px 25px;
    // border-radius: 13px;
    color: $white;
    text-transform: lowercase;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: $darkblue;
      transform: translateY(-1px);
    }
    &:active {

    }
    &:focus {
      outline: none;
    }
  }
  .confirmed {
    margin: 5px 0 0 10px;
    font-size: $font-sm;
    width: 225px;
  }
}


// // // Larger than 768px
// // @media only screen and (min-width: 768px) {
// //   .navbar-right {
// //     float: right!important;
// //     margin-right: 0;
// //   }
// // }
// //
// // // Larger than 850px
// // @media only screen and (min-width: 850px) {
// //   .navbar-container {
// //     padding-bottom: 100px;
// //   }
// // }
// // // Smaller than 600px
// // @media only screen and (max-width: 600px) {
// //   .navbar-container {
// //     .navbar-left {
// //       .genus-dev-dash {
// //         font-size: $font-sm;
// //       }
// //     }
// //   }
// // }
//
// .dropdown-menu {
//   background: teal;
// }
//
//




// stop bootstrap media queries
@media (min-width: 768px) {
  .navbar-right {
    float: none !important;
    margin-right: 0 !important;
  }
}
