.project-modal-grid{
  display: grid;
  // background: black;
  background: linear-gradient(to right, black 0%, black 97.35%, white 50%, white 100%);
  padding-right: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 350px 300px 400px;
  grid-template-areas:
     "f f f f f f f f f f f f"
     "t t t t g g g g d d d d"
     "m m m m m m m m m m m m";
  // grid-row-gap: 25px;
  .project-summary{
    background: transparent;
    color: white;
    resize: none;
    width: 100%;
    height: 100%;
    border: none;

  }
  .project-summary:active, .project-summary:focus{
    border: none;
  }
}
.nodata-text {
  color: black;
}
.iframe{
  grid-area: f;
  background: white;
  height: 300px;
  iframe{
    width: 100%;
    height: 100%;
    a img{
      visibility: hidden;
    }
  }
}
.temp{
  grid-area: t;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: black;
}
.project-description{
  grid-area: g;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}
.cashflow-graph{
  grid-area: d;
  height: 300px;
  background-color: black;
}
.project-map{
  grid-area: m;
  height: 300px;
}
.leaflet-container{
  height: 300px;
  width: 100%;
}
.fa-file-contract{
  align-self: flex-start;
  color: #00FFFF;
  // opacity: 0.6;
  font-size: 19px;
  margin-right: 10px;
  span {
    margin-left: 7px;
  }
}
.bus-plan-download{
  align-self: baseline;
  height: 20%;
  display: flex;
  margin-left: 15px;
  margin: auto;
}
.project-text{
  height: 60%;
  padding: 6px;
  margin-top: 6px;
  overflow:auto;
}
#cash-graph {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 100%;
}


.axis path,
.axis line {
    fill: none;
    stroke: white;
    stroke-dasharray: 2;
    shape-rendering: crispEdges;
}

.axis text {
  display: none;
  // font-family: sans-serif;
  // font-size: 11px;
}

.expected-line path {
  fill: none;
  stroke: white;
  stroke-dasharray: 7 4;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.actual-line path {
  fill: none;
  stroke: #00FFFF;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.accumulated-line path {
  fill: grey;
  opacity: 0.4;
  // stroke: #00FFFF;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.accumulated-line.actual path {
  fill: #00FFFF;
  opacity: 0.4;
  // stroke: #00D4FC;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

.modal-container{

  ::-webkit-scrollbar{
    background: transparent;
    width: 17px;
    border: none;
  }
  ::-webkit-track{
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
    border: none;
  }

}
.title-wrapper{
  height: 65px;
  display: flex;
  align-items: center;
}
.text-hidden{
  display: none;
}
.project-modal-grid{

  .project-text:hover{

    .text-hidden{
      display: block;
      margin:0;
    }
  }

}
#cash-graph:hover{
  .text-hidden {
    display: block;
    margin: 0;
  }
}
