@import "../util/variables";

// .text {
//   display: none;
// }
//
// .nodes:hover ~ .text {
//   cursor: pointer;
//   display: inline;
// }

.node text {
  display: none;
  font: 10px sans-serif;
}

.node:hover text {
  display: inline;
}
