

.ft-modal-header {
  color: #00FFFF;
  font-weight: bold;
}


.project-modal-grid{
  display: grid;
  padding-right: 10px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-rows: 350px 500px 500px;
  grid-template-areas:
     "f f f f f f f f f f f f"
     "t t t t g g g g d d d d"
     "m m m m m m m m m m m m";


  .iframe{
    grid-area: f;
    background: white;
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
      a img{
        visibility: hidden;
      }
      #iframe{
        width: 100%;
        height: 100%;
      }
    }
  }


  .temp{
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
  }


  .project-description{
    grid-area: g;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // justify-content: space-around;
    background-color: black;

    .project-text{
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 25px;
      text-align: justify;
      height: 100%;
      width:100%;
      padding: 6px;
      overflow:auto;
      .project-summary{
        font-weight: bold !important;
        resize: none;
        height: 80%;
        width:100%;
        border: none;
        background: transparent;
        color: white;
      }
      .project-summary:active, .project-summary:focus{
        border: none;
      }
    }
    .bus-plan-download{
      align-self: baseline;
      height: 20%;
      display: flex;
      margin-left: 15px;
      margin: auto;
    }
  }

  .cashflow-graph{
    grid-area: d;
    height: 100%;
    background-color: black;
    #cash-graph {
      display: flex;
      flex-direction: column;
      background-color: black;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    #cash-graph:hover{
      .text-hidden {
        display: block;
        margin: 0;
      }
    }
  }


}
.nodata-text {
  color: black;
}




.project-map{
  grid-area: m;
  height: 100%;
}
.leaflet-container{
  height: 100%;
  width: 100%;
}
.fa-file-contract{
  align-self: flex-start;
  color: #00FFFF;
  // opacity: 0.6;
  font-size: 19px;
  margin-right: 10px;
  span {
    margin-left: 7px;
  }
}




.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-dasharray: 2;
    shape-rendering: crispEdges;
}

.axis text {
  display: none;
  // font-family: sans-serif;
  // font-size: 11px;
}

.expected-line path {
  fill: none;
  stroke: white;
  stroke-dasharray: 7 4;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.actual-line path {
  fill: none;
  stroke: #00FFFF;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.accumulated-line path {
  fill: grey;
  opacity: 0.4;
  // stroke: #00FFFF;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}
.accumulated-line.actual path {
  fill: #00FFFF;
  opacity: 0.4;
  // stroke: #00D4FC;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

.modal-container{

  ::-webkit-scrollbar{
    background: transparent;
    width: 17px;
    border: none;
  }
  ::-webkit-track{
    border: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
    border: none;
  }

}
.title-wrapper{
  height: 65px;
  display: flex;
  align-items: center;
}
.text-hidden{
  display: none;
}
.project-modal-grid{

  .project-text:hover{

    .text-hidden{
      display: block;
      margin:0;
    }
  }

}
