@import "../util/variables";

// .project-dashboard {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   .toggle-options-container {
//     width: 80px;
//   }
// }

.node text {
  display: none;
  font: 10px sans-serif;
}

.node:hover text {
  display: inline;
}

.testInput {
  border: 2px solid red;
}

.testButton {
  border: 2px solid red;
}
