.project-modal-grid{
  padding: 9px;
  display: grid;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
     ". . . f f f f f f t t t"
     "d d d d d d g g g g g g"
     "m m m m m m m m m o o o";
  grid-gap: 4px;
}

.iframe{
  grid-area: f;
  background: white;
  height: 300px;
}
.temp{
  grid-area: t;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.project-description{
  grid-area: d;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cashflow-graph{
  grid-area: g;
  background: blue;
  height: 300px;
}
.project-map{
  grid-area: m;
  height: 300px;
}
.project-overlays{
  grid-area: o;
  background: green;
  height: 300px;
}
.leaflet-container{
  height: 300px;
  width: 100%;
}
.fa-file-contract{
  align-self: flex-start;
  color: #223562;
  font-size: 19px;
}
.bus-plan-download{
  align-self: baseline;
  height: 20%;
  display: flex;
  margin-left: 15px;
}
.project-text{
  height: 70%;
  overflow:auto;
}
#cash-graph {
  display: flex;
  justify-content: center;
  align-items: center;
}


path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
