.project-modal-grid{
  padding: 9px;
  display: grid;
  height: 100%;
  overflow-y: scroll;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
     ". . . f f f f f f t t t"
     "d d d d d d g g g g g g"
     "m m m m m m m m m o o o"
}

.iframe{
  grid-area: f;
  background: white;
  height: 300px;
}
.temp{
  grid-area: t;
  background: red;
  height: 300px;
}
.project-description{
  grid-area: d;
  background: blue;
  height: 300px;
}
.cashflow-graph{
  grid-area: g;
  background: orange;
  height: 300px;
}
.project-location-map{
  grid-area: m;
  background: yellow;
  height: 300px;
}
.project-overlays{
  grid-area: o;
  background: green;
  height: 300px;
}
