@import "../util/variables";

.toggle-view-options-container {
  text-align: center;
  .toggle-view-options {
    position: relative;
    display: inline-flex;
    background-color: #9b9287;
    padding: 8px;
    color: white;
    border-radius: 15px 15px 0 0;
  
    .toggle-icon {
      fill: white;
      #active {
        transform: rotate(90deg);
      }
    }
    
    .toggle-button {
      width: 18px;
      height: 18px;
      margin: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background-color: white
    }
    
    #selected-button {
      background-color: blue;
    }

    .toggle-view-title {
      position: absolute;
      font-weight: 700;
      font-size: 15px;
      top: 50%;
      right: calc(100% + 20px);
      transform: translateY(-50%);
      color: black;
      white-space: nowrap;
    }

    .toggle-view-current-view {
      position: absolute;
      font-weight: 700;
      font-size: 15px;
      top: 50%;
      left: calc(100% + 20px);
      transform: translateY(-50%);
      color: black;
      white-space: nowrap;
    }
  }
}
