@import "../util/variables";

.toggle-view-options {
  margin: 0;
  background-color: #9b9287;
  padding: 8px;
  color: white;
  border-radius: 15px 0 0 15px;
  height: 80px;
  width: 80px;
  float: right;
  .toggle-button {
    width: 18px;
    height: 18px;
    margin: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: white
  }
  #selected-button {
    background-color: blue;
  }
}
