@import "../util/variables";

#token {
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-svg {

}

// remove x axis line and ticks
.x {
  .domain {
    stroke: none;
  }
  .tick {
    line {
      stroke: none;
    }
    text {
      fill: $dim-gray;
    }
  }
}

.line {
  fill: none;
  stroke: $lightblack;
}
