@import "../util/variables";


.token-svg {
  width: 90%;
  height: 90%;
  width: 75%;
  height: 75%;
  overflow: visible !important;
}

// x axis
.x {
  // remove line
  .domain {
    stroke: none;
  }
  // remove ticks
  .tick {
    line {
      stroke: none;
    }
    text {
      fill: $dim-gray;
    }
  }
}

// share price line
.line {
  fill: none;
  stroke: $lightblack;
}

.focus {
  .circle-earnings {
    fill: $black;
    z-index: 999;
  }
  .x {
    stroke: $tan;
    stroke-dasharray: 8 8;
  }
  .price {
    fill: $tan;
  }
  .earnings {
    fill: $black;
  }
}

.focus2 {
  .x {
    stroke: $darkblue;
  }
  .y {
    stroke: $db-fade3;
    // stroke-width: 25px;
  }
  .balance {
    // stroke: $darkblue;
    fill: $darkblue;
  }
  .tokens {
    fill: $darkblue;
  }
}

.overlay {
  fill: none;
  pointer-events: all;
}
