.vote-shift-tool,
.vote-shift-tool-loading {
  position: absolute;
  left: 30px;
  top: -80px;
  display: flex;
  z-index: 5;
  .votes-view-svg {
    position: relative;
    z-index: 3;
  }

  .vote-shift-tool-log-button {
    position: absolute;
    right: -25px;
    height: 100%;
    z-index: 1;
    color: #a29b92;
    background-color: #fff;
    border: 1px solid #f2f1f0;
    border-radius: 0 8px 8px 0;

    &:hover {
      background-color: #375c5a;
      color: #fff;
      border-color: #375c5a;
    }
  }

  .vote-bar {
    height: 100%;
    width: 100%;
  }
}

.vote-shift-tool {
  .vote-bar {
    fill: #aa7a60;
  }

  .vote-bar-applied {
    fill: #61aba9;
  }

  .vote-bar-freedup {
    fill: #fff;
  }
}

.vote-shift-tool-loading {
  .vote-bar {
    fill: #fff;
    stroke: #aa7a60;
    stroke-width: 2;
  }

  .vote-bar-applied {
    fill: #fff;
    stroke: #9a9288;
    stroke-width: 2;
  }

  .vote-bar-freedup {
    fill: #fff;
    stroke: #aa7a60;
    stroke-width: 2;
  }
}