.votes-graph {
  position: relative;
  .votes-view {
    top: 0;
    position: absolute;
    width: 100%;
  }
  
  .votes-view-svg{
    overflow: visible !important;
    width: 100%;
  }

  line {
    stroke: #fff;
    stroke-width: 2px;
  }
  
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
  }

  text {
    text-anchor: middle;
    pointer-events: none;
  }

  .votes-view-capital-raised-text {
    fill: #fff;
  }

  .votes-view-percentage-breakdown {
    fill: #fff;
    font-size: 18px;
  }

  .votes-view-project-title {
    font-size: 18px;
  }

  .votes-view-onhover-project-outlines-group {
    rect {
      fill: #fff;
      pointer-events: none;
    }
  }
}