.votes-graph {
  position: relative;
  .votes-view {
    top: 0;
    position: absolute;
    width: 100%;
    
  }
  
  .votes-view-svg{
    overflow: visible !important;
    width: 100%;
  }

  line {
    stroke: #fff;
    stroke-width: 3px;
  }
  
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
  }
}