@import "./frontend/util/_variables.scss";

// .landing_container {
//   flex-direction: column;
//   justify-content: center;

.landing_modal {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 30%;
  right: 30%;
  outline: none;

  .landing {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $tan;
    border-radius: 4px;
    padding: 15px;
    // box-shadow: 1px 1px 1px 2px #ccc4bb;

    .landing_title {
      font-size: 30px;
      color: $white;
      font-weight: bolder;
    }

    .landing_description {
      margin: 20px;
      font-size: 19px;
      color: $white;
      text-align: justify;
    }

    .demo_options {
      font-size: 20px;

      .demo_option {
        border: 1px solid $teal;
        background-color: $teal;
        // box-shadow: 1px 2px 3px 2px #92d8d6;;
        color: $white;
        text-align: center;
        border-radius: 4px;
        margin: 10px;
        width: 220px;

        &:hover {
          color: $teal;
          background-color: $white;
          cursor: pointer;
        }
      }
    }
  }
}

// }
